@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--selection-color);
}

body {
  margin: 0 auto;
  
  font-family: 'Roboto Condensed', sans-serif;
}

.main__header, .main__box{
  margin: 0 auto;
  max-width: 900px;
}