@charset "UTF-8";

@import "https://jemerson23.github.io/myPortfolio/style/reset.css";

:root {
  --shadow-color: rgba(0, 0, 0, 0.25);
  --light-dark-text-color : #2f2f2f;
  --selection-color: rgba(0, 204, 255, 0.25);
  --link-color: #2ea9ff;
  --link-onclick-color: #0078cc;
  --main-gradient: linear-gradient(to top, #1CB5E0 0%, #000851 100%);
}

body {
  color: #fff;
  background: var(--main-gradient);
}

.main__header {
  max-width: 900px;
}

.menu {
  max-width: 95%;
  min-height: 64px;
  
  margin: 1% auto 0 auto;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  
  font-size: 1em;
  
  background-color: #fff;
  
  border-radius: 25px;

  box-shadow: 1px 2px 8px var(--shadow-color);
}

.content-indicator {
  position: relative;
  
  max-width: 100px;
  
  color: var(--light-dark-text-color );
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

.content-indicator > input[type="radio"] {
  all: unset;
  
  position: absolute;
  left: 0;

  width: 0%;
  height: 100%;

  border-radius: 5px;

  background-color: var(--selection-color);
  
  transition: width 0.5s;
}

.content-indicator > input[type="radio"]:checked {
  width: 100%;
}

.main__box {
  position: relative;
  margin-top: 2%;
}

.contents__area  {
  margin: 0 auto;
  padding-top: 2%;
  
  max-width: 900px;
  min-height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.content__box {
  margin: 0 auto 0 auto;
  
  max-width: 99%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.presentation__box {
  max-width: 400px;
  margin: 1em auto 1em auto;
  align-self: center;
}

.my-name {
  font-size: 1.4em;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}

.presentation__box > .my-name {
  align-self: center;
}

.my-name::selection {
  opacity: 1;
  color: var(--light-dark-text-color);
  background-color: #fff;
}

.summary__about__me {
  width: 100%;
}

.summary__about__me > p {
  max-width: 99%;
  
  font-size: 1.3em;
  overflow-wrap: break-word;
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
}

.skills__box {
  margin: 16px auto 16px auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__title {
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
}

.skills__box > .skills__title:first-child {
  margin: 0 auto;
  align-self: center;
}

.skills__list {
  padding-top: 10px;
  
  width: 50%;
  min-width: 200px;
  min-height: 200px;
  max-width: 450px;
  max-height: 450px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;

  list-style: none;
  
  border-top: 3px inset #fff;
}

.skill {
  position: relative;

  width: 3em;
  height: 3em;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
  border-radius: 5px;

  box-sizing: border-box;
}

.skills__list > .skill {
  padding: 0;
  margin: 8px auto;
}

.skill > .fa-brands {
  font-size: 2em;
}

.skill__label {
  position: absolute;
  right: auto;
  left: auto;
  bottom: -22px;
  
  opacity: 0;

  font-size: 1em;
  text-align: center;
  text-transform: uppercase;

  transition: opacity 0.5s;
}

.skill:hover > .skill__label {
  opacity: 1;
}

/*projects*/

.projects__grid {
  padding: 0;
  width: 95%;
  
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(2,1fr);
  place-content: center;
  
  list-style: none;
}

.projects__grid > .project, .empty-project {
  margin: .5em auto .5em auto;
}

.project,
.empty-project {
  width: 350px;
  height: 250px;
  
  display: flex;
  
  background-color: #fff;
  
  border-radius: 10px;
  
  box-shadow: 2px 2px 4px var(--shadow-color);
  
  color: var(--light-dark-text-color);
}

.project {
 position: relative;
 
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
}

.project__title {
  margin: 4px 0 6px 6px;
  
  color: var(--link-color);
  font-size: 1.4em;
  text-decoration: none;
  
  transition: .5s;
}

.project__title:hover {
  text-decoration: underline;
}

.project__title:active {
  color: var(--link-onclick-color);
}


.project__img_box > img {
  margin: 0 auto;
  width: 95%;
}

.project__img_box {
  margin: 0 auto;
  
  height: 100px;
  
  border-radius: 10px;
  
  opacity: 1;
  
  overflow-y: hidden;
  
  transition: .5s;
}

.project__discription {
  margin: 8px auto 4px auto;
  padding-top: 4px;
  
  width: 95%;
  height: 90px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow-y: hidden;
  
  text-align: left;
}

.empty-project {
  opacity: .5;
  
  justify-content: center;
  align-items: center;
}

/*contacts*/

.content__box > .contacts__grid {
  align-self: center;
}

.contacts__grid {
  margin: 0 auto;
  
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(5,1fr);
  place-content: start center;
}

.contacts__grid > .contact {
  width: 3em;
  height: 3em;
}

.contact {
  box-sizing: border-box;
  position: relative;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  border-radius: 4px;
  transition: border .25s;
}

.contact__icon {
  align-self: center;
  font-size: 2em;
}

.contact__link {
  all: unset;
  
  position: absolute;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100%;
}

.contact__label {
  user-select: none;
  align-self: center;
  font-style: normal;
  font-size: 1em;
  
  text-align: center;
}

.contact:active {
  border: 1px solid var(--selection-color);
}

.projects__grid, .contacts__grid {
  margin-top: 3%;
}
