@charset "UTF-8";

@media screen and (max-width: 320px) {
  .c-title, .skills-box__title  {
    font-size: 1.2em;
  }
  
  .presentation-box__my-name {
    font-size: 1.1;
  }
  
  .presentation-box__summary-about-me > p {
    font-size: 1em;
    line-height: 1em;
  }
}

@media screen and (max-width: 480px) {
  .skills-box__skill {
    width: 2.2em;
    height: 2.2em;
  }

  .skills-box__list > .skills-box__skill {
    margin: 6px auto;
  }

  .skills-box__skill > .fa-brands {
    font-size: 1.3em;
  }

  .skills-box__label {
    font-size: 0.9em;
  }

  .contacts-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-top: 3%;
  }

  .projects-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px){
  
  .c-title {
    margin-left: 3%;
    align-self: flex-start;
  }
  
  .presentation-box {
    max-width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
}

@media screen and (max-width: 900px) {
  .m-header {
    width: 100vw;
  }
}
