@charset "UTF-8";

/*media < 600px*/

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 480px) {
  .main-content {
    box-shadow: none;
  }

  .presentation-box {
    margin: 0 auto 2% 4%;
    max-width: 98%;
    align-self: flex-start;
  }

  .presentation-box__my-name {
    text-indent: 0.5em;
  }

  .presentation-box__summary-about-me {
    margin-left: 2em;
  }

  .skills-box__skill {
    width: 2.2em;
    height: 2.2em;
  }

  .skills-box__list > .skills-box__skill {
    margin: 6px auto;
  }

  .skills-box__skill > .fa-brands {
    font-size: 1.3em;
  }

  .skills-box__label {
    font-size: 0.9em;
  }

  .contacts-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    min-height: auto;
  }

  .projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-481px) and (max-width: 768px) {
  .presentation-box {
    width: 99%;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
}

@media screen and (max-width: 900px) {
  .m-header {
    width: 100vw;
  }
}
