@charset "UTF-8";

@import url("/style/_root.css");

/*media < 600px*/

@media screen and (max-width:480px){
  .main__box {
    box-shadow: none;
  }

  .presentation__box {
    margin: 0 auto 2% 4%;
    max-width: 98%;
    align-self: flex-start;
  }

  .presentation__box > .my-name {
    text-indent: .5em;
  }

  .summary__about__me {
    margin-left: 2em;
  }

  .skill {
    width: 2.2em;
    height: 2.2em;
  }
  
  .skills__list > .skill {
    margin: 6px auto;
  }
  
  .skill > .fa-brands {
    font-size: 1.3em;
  }

  .skill__label {
    font-size: 0.9em;
  }

  .projects__grid {
    box-sizing: border-box;
    width: 99%;
    gap: 8px;
    grid-template-columns: repeat(2, 150px);
    place-content: start center;
  }
  
  .empty-project {
    color: var(--text-light-color);
    font-size: 1.2em;
  }
  
  .contacts__grid {
    grid-template-columns: repeat(4,1fr);
  }
  
}

@media screen and (max-width:768px){
  .main__box {
    min-height: auto;
  }
}

@media screen and (min-481px) and (max-width:768px) {
  .menu {
  }
  
  .presentation__box {
    width: 99%;
  }
  
  .projects__grid {
    grid-template-columns: repeat(3,1fr);
  }

}

@media screen and (min-width: 769px) and (max-width: 900px){
  
}

@media screen and (max-width:900px){
  .main__header {
    width: 100vw;
  }
}