@charset "UTF-8";

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--selection-color);
}

body {
}

.m-header, .main-content{
  margin: 0 auto;
  max-width: 900px;
}

.presentation-box__summary-about-me > p {
  word-spacing: .1em;
  letter-spacing: .05em;
}